.ContactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 40px;
  color: var(--secondary-text-color);
  background-color: var(--background-color);
  min-height: 80vh;
}

.ContactTitle {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 2rem;
  text-align: center;
  opacity: 1;
  animation: contentAppear 2s ease-out forwards;
}

.ContactContent {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  max-width: 1200px;
}

.ContactDetails,
.ContactForm {
  flex-basis: 50%;
  padding: 20px;
  text-align: left;
}

.ContactForm p:first-child {
  font-weight: bold;
  font-size: 1.2rem;
}

.ContactForm p,
.ContactForm input,
.ContactForm textarea,
.ContactForm button {
  width: 100%;
  margin-bottom: 20px;
}

.ContactForm input,
.ContactForm textarea {
  padding: 15px;
  border-radius: 10px;
  border: 2px solid var(--border-color);
  font-size: 1rem;
  background-color: #fff;
  box-sizing: border-box;
}

.ContactForm button {
  padding: 15px;
  background-color: var(--primary-button-bg-color);
  color: var(--primary-button-text-color);
  border: 1px solid;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ContactForm button:hover {
  background-color: transparent;
  color: var(--primary-button-bg-color);
  border: 1px solid;
  border-color: var(--primary-button-bg-color);
}

.DigitalSpaces a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--link-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  max-width: 100px;
}

.DigitalSpaces img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.DigitalSpaces a:hover {
  background-color: var(--border-color);
  color: var(--hover-color);
  padding: 5px 10px;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .ContactContent {
    flex-direction: column;
  }

  .ContactDetails,
  .ContactForm {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .ContactSection {
    padding: 20px;
  }

  .ContactTitle {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .ContactTitle {
    font-size: 2rem;
  }
}