.ContactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 40px;
    color: var(--secondary-text-color);
    background-color: var(--background-color);
    min-height: 80vh;
  }
  
  .ContactTitle {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 2rem;
    text-align: center;
    opacity: 0;
  }

  .ContactTitle.visible {
    animation: contentAppear 2s ease-out forwards;
  }
  
  .ContactContent {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
  }
  
  .ContactDetails {
    text-align: left;
  }

  .ContactForm, .ContactDetails {
    flex-basis: 50%;
    padding: 20px;
  }
  
  .ContactForm p {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .ContactForm p:first-child {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .ContactForm input, .ContactForm textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    font-size: 1rem;
    background-color: #fff;
    font-family: inherit;
    box-sizing: border-box;
  }
  
  .ContactForm button {
    width: calc(100% - 30px);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--primary-button-bg-color);
    color: var(--primary-button-text-color);
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid var(--border-color);
    cursor: pointer;
    font-size: 1rem;
    font-family: inherit;
    box-sizing: border-box;
  }
  
  .ContactForm button:hover {
    background-color: var(--secondary-button-bg-color);
  }
  
  .DigitalSpaces {
    display: flex;
    flex-direction: column;
  }
  
  .DigitalSpaces a {
    display: flex;
    align-items: center;
    color: var(--link-color);
    text-decoration: underline;
    margin-bottom: 10px;
    width: 110px;
  }
  
  .DigitalSpaces img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .DigitalSpaces a:hover {
    background-color: #f0f0f0;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .ContactContent {
      flex-direction: column;
    }
  
    .ContactForm, .ContactDetails {
      width: 100%;
    }
  }
  
  @keyframes contentAppear {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }