.Footer {
  width: 100%;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 5px 0px;
  position: relative;
}

.BackToTop {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: right;
}

.Footer .col-md-6 {
  width: 50%;
  padding: 0 10px;
  box-sizing: border-box;
}

.Footer .text-start {
  text-align: left;
}

.Footer .text-end {
  text-align: right;
}

.Arrows img {
  width: 10px;
}

@media (max-width: 600px) {
  .Footer {
    flex-direction: column;
    text-align: center;
  }

  .BackToTop {
    margin-top: 10px;
    justify-content: center;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  

  .Arrows img {
    width: 8px;
  }
}