.NavBar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  padding: 1rem;
  width: auto;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(-100%);
  animation: navAppear 1.5s ease-out forwards;
  animation-delay: 1s;
}

.nav-logo {
  max-width: 100px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links li a {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-links li a:hover {
  color: var(--link-color);
  background-color: transparent;
}

.nav-links li a.lets-talk-btn {
  background-color: var(--primary-button-bg-color);
  color: var(--primary-button-text-color);
  padding: 10px 16px;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 600;
}

.nav-links li a.lets-talk-btn:hover {
  background-color: var(--hover);
  color: var(--secondary-button-text-color);
}

@keyframes navAppear {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Query for Tablets and Small Desktops */
@media (min-width: 769px) and (max-width: 1440px) {
  .nav-links li a {
    font-size: 1rem;
  }
  
  .nav-logo {
    max-width: 80px;
  }
}

/* Media Query for Landscape Phones to Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .nav-links {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  
  .nav-links li {
    margin: 0 0.5rem;
  }
  
  .nav-logo {
    max-width: 70px;
  }
  
  .NavBar {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
  }
}


/* Media Query for Phones */
@media (max-width: 480px) {
  .nav-links li {
    margin: 0 0.10rem;
  }

  .nav-links li a {
    font-size: 0.8rem;
    padding: 5px 10px;
  }
  
  .nav-logo {
    max-width: 60px;
  }
}

