.ProjectsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
  color: var(--secondary-text-color);
  background-color: var(--background-color);
  height: 90vh;
}

.ProjectsTitle {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 2rem;
  opacity: 0;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--border-color);
}

.ProjectsTitle.visible {
  animation: contentAppear 2s ease-out forwards;
}

.ProjectsContent {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  align-items: center;
  width: 80%;
  padding: 20px;
  position: relative;
}

.ProjectItem {
  max-width: 100%;
  width: calc(100% - 40px);
  height: 350px;
  border: 1px solid #8D7C60;
  padding: 20px;
  text-align: center;
  background-color: var(--background-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.ProjectImageWrapper {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.ProjectImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: opacity 0.3s ease;
}

.ProjectOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  border-radius: 10px;
}

.ProjectItem:hover .ProjectOverlay {
  background-color: rgba(0, 0, 0, 0.6); 
  opacity: 1;
}

.ProjectLabels span, .ProjectLabels a {
  border: 1px solid #8D7C60;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 10px;
  margin-top: 10px;
}

.ProjectLabels a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.ProjectLabels a:hover {
  background-color: #1A1A1A;
  text-decoration: none;
  padding: 5px 10px;
  transition: all 0.3s ease;
}

@keyframes contentAppear {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Media Query for Tablets and Small Desktops */
@media (min-width: 769px) and (max-width: 1440px) {
  .ProjectsSection {
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ProjectsContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
  }

  .ProjectItem {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 70%;
  }

  .ProjectIcon, .ProjectItem h3, .ProjectItem p, .ProjectLabels a {
    margin: auto;
    width: fit-content;
  }
}

/* Media Query for Landscape Phones to Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .ProjectsSection {
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ProjectsContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: start;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }

  .ProjectItem {
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%;
  }
}

/* Media Query for Phones */
@media (max-width: 480px) {
  .ProjectsSection {
    padding: 20px;
    box-sizing: border-box;
    height: auto;
  }

  .ProjectsContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: calc(100% - 40px);
    margin: auto;
  }

  .ProjectItem {
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }

  .ProjectImage {
    width: 100%;
    height: auto;
  }

  .ProjectItem h3, .ProjectItem p, .ProjectLabels a {
    text-align: center;
    font-size: 1rem;
  }

  .ProjectLabels span, .ProjectLabels a {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 2px;
    border-radius: 15px;
    font-size: 0.9rem;
    box-sizing: border-box;
  }
}