.ServicesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 150px 20px;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  height: auto;
}

.ServicesTitle {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 2rem;
  opacity: 1;
}

.ServicesContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.ServiceItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.ServiceIcon {
  width: 60px;
  height: auto;
  margin-bottom: 15px;
}

.visible {
  opacity: 1;
  animation: contentAppear 1.5s ease-out forwards;
}

@keyframes contentAppear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1200px) {
  .ServiceItem {
    flex-basis: calc(13% - 20px);
  }
}

@media (max-width: 1199px) and (min-width: 901px) {
  .ServicesTitle {
    font-size: 2.5rem;
  }

  .ServiceItem {
    flex-basis: calc(26% - 20px);
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  .ServiceItem {
    flex-basis: calc(26% - 20px);
  }

  .ServiceIcon {
    width: 50px;
  }

  .ServicesSection {
    margin: auto;
  }
}

@media (max-width: 600px) {
  .ServicesTitle {
    font-size: 2rem;
  }

  .ServiceItem {
    flex-basis: calc(26% - 20px);
  }

  .ServiceIcon {
    width: 40px;
  }

  .ServicesSection {
    margin: auto;
  }
}